 @import 'ember-paper';
 @import 'margins';
 @import 'circles';
 @import 'buttons';
 @import 'ember-power-datepicker';
 @import 'date-picker';

 .menu-sidenav-toggle {
  font-size: 24px!important;
  margin-right: 16px;
  padding: 0;
}

.logo {
  font-size:24px;
}

body {
  max-width: 100%;
  max-height: 100%;
}

body.ember-application {
    flex-direction: row;
    flex: 1;
    display: flex;
}

body > div.ember-view {
    flex-direction: row;
    flex: 1;
    display: flex;
}

.site-nav-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#main {
  position: relative;
}

.md-toolbar-tools .right {
  position: absolute;
  right: 10px;
  margin: auto;
  height: 50%;
  top: 0;
  bottom: 0;
}

md-input-group input {
  width: 100%;
}

.patch-size-2 {
  font-size: 30px;
}

.edit-dialog md-dialog {
  min-width: 70%;
}

.smaller-font {
  font-size: smaller;
}

md-dialog-content md-input-container {
  width: 100%;
}
