 @import 'ember-paper';
 @import 'margins.scss';

 .menu-sidenav-toggle {
  font-size: 24px!important;
  margin-right: 16px;
  padding: 0;
}

.logo {
  font-size:24px;
}

.sidenav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidenav ul li > a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #424242;
  font-weight: 700;
  padding: 1.1em 1.6em;
}
.sidenav ul li a:hover {
  background-color: #e0e0e0;
}

.ember-application > .ember-view {
  width: 100%;
  height: 100%;
}

.ember-app {
  width: 100%;
  height: 100%;
}

.circle {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  height: 48px;
  margin: 16px;
}

.circle--text {
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  color: #fff;
  font-weight: bold;
  font-size: larger;
}

.md-toolbar-tools .right {
  position: absolute;
  right: 10px;
  margin: auto;
  height: 50%;
  top: 0;
  bottom: 0;
}

md-input-group input {
  width: 100%;
}

.patch-size-2 {
  width: 32px;
  height: 32px;
  vertical-align: inherit;
}

.bottom-right-button {
  position: absolute;
  right: 23px;
  bottom: 23px;
}

.edit-dialog md-dialog {
  min-width: 70%;
}

$alphabet: (
  'A': 'red',
  'B': 'pink',
  'C': 'purple',
  'D': 'deep-purple',
  'E': 'indigo',
  'F': 'blue',
  'G': 'light-blue',
  'H': 'cyan',
  'I': 'teal',
  'J': 'green',
  'K': 'light-green',
  'L': 'lime',
  'M': 'yellow',
  'N': 'amber',
  'O': 'orange',
  'P': 'deep-orange',
  'Q': 'brown',
  'R': 'blue-grey',
  'S': 'grey',
  'T': 'red',
  'U': 'pink',
  'V': 'purple',
  'W': 'deep-purple',
  'X': 'indigo',
  'Y': 'blue',
  'Z': 'light-blue'
);

@each $letter, $color in $alphabet {
  .circle--#{$letter}{
    background: color($color, '200');
  }
}
