 @import 'ember-paper';
 @import 'margins';
 @import 'circles';
 @import 'buttons';

 .menu-sidenav-toggle {
  font-size: 24px!important;
  margin-right: 16px;
  padding: 0;
}

.logo {
  font-size:24px;
}

.ember-application > .ember-view {
  width: 100%;
  height: 100%;
}

.ember-app {
  width: 100%;
  height: 100%;
}

.md-toolbar-tools .right {
  position: absolute;
  right: 10px;
  margin: auto;
  height: 50%;
  top: 0;
  bottom: 0;
}

md-input-group input {
  width: 100%;
}

.patch-size-2 {
  font-size: 30px;
}

.edit-dialog md-dialog {
  min-width: 70%;
}

.smaller-font {
  font-size: smaller;
}
