{{#colour-paper-item title=scope.name}}
  <h3>{{scope.name}}
    {{#if scope.isPaidFor}}{{paper-icon "shopping-cart"}}{{/if}}

    {{#paper-button iconButton=true onClick=(action attrs.editScope)}}{{paper-icon "edit"}}{{/paper-button}}
  </h3>
  <p>
    {{scope.description}}
  </p>
{{/colour-paper-item}}
