{{notification-container}}

{{#paper-sidenav-container class="site-nav-container"}}
  {{#paper-sidenav
    class="md-whiteframe-z2"
    open=drawerOpen
    onToggle=(action (mut drawerOpen))}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <strong>Authmaker</strong>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}
        {{#submenu-item active=(is-active "admin.enable" currentRouteName) href=(href-to "admin.enable")}}
          Enable Users
        {{/submenu-item}}
        {{#submenu-item active=(is-active "admin.view" currentRouteName) href=(href-to "admin.view")}}
          View Users
        {{/submenu-item}}
        {{#submenu-item active=(is-active "admin.plans" currentRouteName) href=(href-to "admin.plans")}}
          Plans
        {{/submenu-item}}
        {{#submenu-item active=(is-active "admin.scopes" currentRouteName) href=(href-to "admin.scopes")}}
          Permissions
        {{/submenu-item}}
        {{#submenu-item active=(is-active "admin.accounts" currentRouteName) href=(href-to "admin.accounts")}}
          Accounts
        {{/submenu-item}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

<div id="main" class="flex layout-column">

    {{#paper-toolbar as |toolbar|}}
      {{#toolbar.tools}}
        {{#paper-sidenav-toggle as |toggleAction|}}
          {{#paper-button class="hide-gt-sm" onClick=(action toggleAction) iconButton=true}}
            {{paper-icon "menu"}}
          {{/paper-button}}
        {{/paper-sidenav-toggle}}

        <h2>Admin</h2> <div id="title"></div>
        <span class="flex"></span>
        <div id="tools"></div>
      {{/toolbar.tools}}
    {{/paper-toolbar}}

    {{#paper-content}}
      {{outlet}}
    {{/paper-content}}

</div>

{{/paper-sidenav-container}}
