<div class="pad-x4">
  <h2>Users Admin</h2>
  <div class="row">
    <div class="col-sm-8">
      <div class="frame">
        <table class="table">
          <thead>
            <th>User</th>
            <th>Action</th>
          </thead>
          <tbody>
            {{#each user in content}}
              <tr>
                <td>{{user.username}}</td>
                <td>
                  <button class="btn blue" {{action "enableUser" user}}>Enable</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="notifications-container">
    {{#each notification in notifications}}
        {{notification-message notification=notification}}
    {{/each}}
</div>

