{{#colour-paper-item title=plan.name}}
  <h3>{{plan.name}}</h3>
  {{#if editable}}
    {{#paper-button classNames="md-primary" action=(action attrs.editPlan)}}<small>edit</small>{{/paper-button}}
  {{/if}}
  <p>
    {{#paper-chips readOnly=true content=plan.scopes as |item|}}
      <strong>{{item.name}}</strong>
      <em>({{item.description}})</em>
    {{/paper-chips}}
  </p>
{{/colour-paper-item}}
