{{#paper-toolbar}}
  <h2 class="md-toolbar-tools">
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    <span>Plans</span>
  </h2>
{{/paper-toolbar}}

{{#paper-list}}
  {{#each content as |plan|}}
    {{plan-list-item plan=plan editable=true editPlan=(action 'editPlan' plan)}}
  {{/each}}
{{/paper-list}}

{{#paper-button classNames="md-fab md-primary bottom-right-button" action="createPlan"}} {{paper-icon icon="add" size=2 classNames="patch-size-2"}} {{/paper-button}}

{{outlet}}
